
<% if false %>
<td class="border border-slate-600 p-4" ><%= data.food.name %></td>
<td class="border border-slate-600 p-4" ><%= data.quantity %> <%= data.food.measurement_unit %></td>
<% end %>

<td class="border border-slate-600 p-4" >
  <%= data.name %>
</td>
<td class="border border-slate-600 p-4" >
  <% if qty %>
    <%= qty %>
  <% end %>
  <%= data.measurement_unit %>
</td>
<% if price %>
  <td class="border border-slate-600 p-4" >
      <%= data.price %>
  </td>
<% end %>

