<h1 class="text-center text-primary py-2">New Recipe Food</h1>
<div class="w-75 mx-auto">
<%= form_with(model: [@recipe, @recipe_food])  do |form| %>
  <%= form.number_field :quantity %>
  <%= form.select :food_id, @foods.map { |food| [food.name, food.id] } %>
  <div>
    <%= form.submit "Add Food" %>
    <%= link_to "Back to recipes", recipes_path %>
  </div>
<%end%>
</div>